<section ng-controller="AlumnoController">

  
  <div class="col-md-6 well">
    <form class="form-horizontal">
      <fieldset>
        <legend>POST Alumno</legend>
        <div class="form-group">
          <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputNombre" ng-model="alumno.alumnoNombre" placeholder="Nombre del alumno">
          </div>
          
          
        </div>
        
        
        <div class="form-group">
          <label for="inputApellido" class="col-lg-2 control-label">Apellido</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputApellido" ng-model="alumno.alumnoApellido" placeholder="Nombre del alumno">
          </div>
          
          
        </div>
        
        
        <div class="form-group">
          <label for="inputDocumento" class="col-lg-2 control-label">Documento</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputDocumento" ng-model="alumno.alumnoDni"  placeholder="Numero de documento">
          </div>
        </div>
        
        
        
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="submit" ng-click="guardar()" class="btn btn-primary">Guardar</button>
          </div>
        </div>
        
      </fieldset>
    </form>
  </div>

  
</section>
