<!--<section ng-controller="AlumnoController">-->

<section>
  
  
  <div class="col-md-4 col-md-offset-4 well">
    <form class="form-horizontal">
      <fieldset>
        <legend>POST Alumno</legend>
        <div class="form-group">
          <label for="inputNombre" class="col-lg-2 control-label">Nombre</label>
          <div class="col-lg-10">
            <!--
            <input type="text" class="form-control" id="inputNombre" ng-model="alumno.nombre" placeholder="Nombre del alumno">
            -->
            <input type="text" class="form-control" id="inputNombre" placeholder="Nombre del alumno">
          </div>
          
          
        </div>
        
        
        <div class="form-group">
          <label for="inputDocumento" class="col-lg-2 control-label">Documento</label>
          <div class="col-lg-10">
            <!--
            <input type="text" class="form-control" id="inputDocumento" ng-model="alumno.documento"  placeholder="Numero de documento">
            -->
            <input type="text" class="form-control" id="inputDocumento" placeholder="Numero de documento">
          </div>
        </div>
        
        
      </fieldset>
    </form>
  </div>
  
</section>
